 .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topo h2 {
    color: var(--cor-texto);
}

.voltar {
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 500;
}

.voltar:hover {
    text-decoration: underline;
}

.servicos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.servico {
    background: var(--cor-card);
    padding: 22px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.05);
    transition: 0.3s ease;
    cursor: pointer;
}

.servico:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.servico i {
    font-size: 28px;
    color: var(--cor-primaria);
    margin-bottom: 12px;
}

.servico h3 {
    margin-bottom: 6px;
    font-size: 16px;
}

.servico p {
    font-size: 14px;
    color: var(--cor-texto-suave)
}




